.falling-item{
  position: fixed;
  top: -100px;
  animation-name: fall;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes fall{
  to{
    transform: translateY(100vh);
  }
}

.item2{
  left: 5%;
  animation-delay: 0.5s;
}

.item3{
  left: 8%;
  animation-delay: 0.1s;
}

.item4{
  left: 12%;
  animation-delay: 0.3s;
}

.item5{
  left: 15%;
  animation-delay: 0.4s;
}
.item6{
  left: 25%;
  animation-delay: 0.1s;
}
.item7{
  left: 27%;
  animation-delay: 0.2s;
}
.item8{
  left: 35%;
  animation-delay: 1.1s;
}
.item9{
  left: 43%;
  animation-delay: 0.7s;
}
.item10{
  left: 48%;
  animation-delay: 1.2s;
}
.item11{
  left: 52%;
  animation-delay: 0.4s;
}
.item12{
  left: 56%;
  animation-delay: 1s;
}
.item13{
  left: 60%;
  animation-delay: 1.9s;
}
.item14{
  left: 62%;
  animation-delay: 1s;
}
.item15{
  left: 68%;
  animation-delay: 1.3s;
}
.item16{
  left: 73%;
  animation-delay: 0.8s;
}
.item17{
  left: 77%;
  animation-delay: 0.5s;
}
.item18{
  left: 83%;
  animation-delay: 0.1s;
}
.item19{
  left: 80%;
  animation-delay: 1s;
}
.item20{
  left: 95%;
  animation-delay: 2s;
}
.item21{
  left: 67%;
  animation-delay: 0.1s;
}
.item22{
  left: 88%;
}
.item23{
  left: 90%;
  animation-delay: 0.1s;
}
.item25{
  left: 95%;
  animation-delay: 0.2s;
}
.item26{
  left: 99%;
  animation-delay: 0.5s;
}
.letter{
  width: 250px;
  left: 50%;
  animation-delay: 2s;
}
.letter:hover{
  cursor: pointer;
}

.small{
  width: 90px;
}
.medium{
  width: 120px;
}
.large{
  width: 180px;
}